@charset "UTF-8";

/*=====================
      BANNER START
========================*/
/*===== banner-wheel start =====*/
#banner .banner-wheel {
  width: 100%;
  height: 460px;
}
#banner .banner-wheel img {
  width: 100%;
}

#banner .banner-wheel .b-category {
  top: 0;
  left: 0;
  width: 234px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#banner .banner-wheel .b-category .b-category-nav {
  padding-top: 20px;
}
#banner .banner-wheel .b-category .b-category-nav > li > a {
  display: block;
  height: 42px;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 20px;
  color: #fff;
  font-size: 12px;
}
#banner .banner-wheel .b-category .b-category-nav > li > a:hover {
  background-color: #ff6700;
}
#banner .banner-wheel .b-category li .category-list {
  display: none;
  top: 0;
  left: 234px;
  height: 458px;
  border: 1px solid #e0e0e0;
  border-left: none;
  background-color: #fff;
  box-shadow: 1px 2px 4px 0 #eee;
}
#banner
  .banner-wheel
  .b-category
  .b-category-nav
  > li
  > a:hover
  + .category-list {
  display: block;
}

#banner .banner-wheel .b-category li .category-list-4 {
  width: 990px;
}
#banner .banner-wheel .b-category li .category-list .category-list-item {
  width: 246px;
  /* background-color: pink; */
}
#banner .banner-wheel .b-category li .category-list .category-list-item a {
  display: block;
  height: 40px;
  padding: 18px 20px;
  font-size: 12px;
  color: #333;
  /* background-color: green; */
}
#banner .banner-wheel .b-category li .category-list .category-list-item a img {
  width: 40px;
  margin-right: 4px;
}
/*===== banner-wheel end =====*/

/*===== banner-introduce start =====*/
#banner .banner-introduce {
  height: 316px;
  /* margin:14px 0 42px; */
  margin-top: 14px;
  margin-bottom: 42px;
  /* background-color: pink; */
}
#banner .banner-introduce .sub-channel {
  width: 234px;
  height: 170px;
  background-color: #5f5750;
}
#banner .banner-introduce .sub-channel ul {
  padding: 3px;
}
#banner .banner-introduce .sub-channel li {
  width: 76px;
  height: 82px;
  /* background-color: green; */
}
#banner .banner-introduce .sub-channel li.right:after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  width: 1px;
  height: 70px;
  background-color: #665e57;
}
#banner .banner-introduce .sub-channel li.top:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 3px;
  width: 64px;
  height: 1px;
  background-color: #665e57;
}
#banner .banner-introduce .sub-channel li a {
  color: #cfcdcb;
  font-size: 12px;
  padding-top: 8px;
}
#banner .banner-introduce .sub-channel li a .iconfont {
  font-size: 30px;
}
#banner .banner-introduce .sub-promo li img {
  width: 316px;
  height: 170px;
}
#banner .banner-preheat img {
  width: 1226px;
}

/*===== banner-introduce end =====*/

/*=====================
      BANNER END
========================*/
