@charset "UTF-8";

/*=====================
      FOOTER START
========================*/

/*====service start====== */
#footer .service-list {
  padding-top: 27px;
  padding-bottom: 27px;
  border-bottom: 1px solid #e0e0e0;
}
#footer .service-list li {
  width: 244px;
  height: 25px;
  text-align: center;
  border-right: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 25px;
}
#footer .service-list li a {
  color: #616161;
}
#footer .service-list li a:hover {
  color: #ff6700;
}
#footer .service-list li a .iconfont {
  font-size: 22px;
  vertical-align: middle;
  margin-right: 4px;
}

/*====service end====== */

/*====links start====== */
#footer .f-links {
  height: 112px;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: pink; */
}
#footer .f-links dl {
  width: 160px;
  line-height: 1;
}
#footer .f-links dl dt {
  font-size: 14px;
  color: #424242;
}
#footer .f-links dl dd a {
  font-size: 12px;
  color: #757576;
}
#footer .f-links dl dd a:hover {
  color: #ff6700;
}

#footer .f-links .contact {
  width: 251px;
  height: 100%;
  /* line-height: 1.25; */
  border-left: 1px solid #e0e0e0;
  text-align: center;
}
#footer .f-links .contact .tel {
  font-size: 18px;
  color: #ff6700;
  margin-bottom: 4px;
}
#footer .f-links .contact .time {
  font-size: 12px;
  color: #616161;
  line-height: 20px;
}
#footer .f-links .contact .customer a {
  display: inline-block;
  width: 118px;
  height: 28px;
  border: 1px solid #ff6700;
  line-height: 28px;
  font-size: 12px;
  margin-top: 10px;
  color: #ff6700;
}
#footer .f-links .contact .customer a:hover {
  background-color: #ff6700;
  color: #fff;
}
/*====links end====== */
/*=====================
      FOOTER END
========================*/
